body{
   color:blueviolet(194, 134, 250);
background-color: darkorchid(209, 67,67);
} 
header{
 border-bottom:  solid 2px rgb(rgb(140, 0, 255)) ;
 padding: 20px;
 font-size: 32px;
 color: rgb(196, 149, 240)
 background:black;

}
.chamada{
   background: rgb(89, 111, 235);
   padding-bottom: 100px;
   padding-top: 100px;
   display: flex;
   justify-content: center;
}
